<% content_for :title, "What" %>
<h1>What happened?</h1>
<hr>
<%= form_with scope: :complaint, local: true do |form| %>
  <p>What happen?<br>
    <p><%= form.text_area :why %></p>
  </p>
  <p>what was you wearing?<br>
    <p><%= form.text_field :clothes %></p>
  </p>
    <p>Name any objects involved?<br>
    <p><%= form.text_field :objects %></p>
  </p>
    </p>
    <p>Whats 5 x 2?<br>
    <p><%= form.text_field :numbers %></p>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<div id="message"></div>
<button id="link" data-path="<%= why_path(@complaint_slug)%>">Next Page</button>

<script>
  var battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;

  function logBattery(battery) {

    if (battery.charging) {
      $('#message').text('We think the environment is important so rather than charging your phone up, why not unplug it and let a tree live.');
    } else {
      window.chargingPass = true;
    }

    battery.addEventListener('chargingchange', function() {
        if (!battery.charging) {
          window.chargingPass = true;
          $('#message').html('Thanks for saving the environment, ' + (battery.level * 100) + '% charge, that will last the day right?' );

        }
    }, false);
  }

  if (navigator.getBattery) {
      navigator.getBattery().then(logBattery);
  } else if (battery) {
      logBattery(battery);
  }

  $('#link').on('click', function(event) {
    if (chargingPass) {
      window.location.href = $('#link').data('path');
    } else {
      alert("please check time physics first!");
    }
  });

</script>